<div class="layout-padding layout-column" style="max-width:1240px;">
  <p>
    <img src="assets/images/publicWIFI-IDAM-Integration.jpg" alt="Public Wifi" style="width:100%">
  </p>
  {{paper-divider}}
  <p>
    <img src="assets/images/Authentication-RegistrationFlow.jpg" alt="AuthReg" style="width:100%">
  </p>
  {{paper-divider}}
  <p>
    <img src="assets/images/authNWaterfall.jpg" alt="AuthReg" style="width:100%">
  </p>
  {{paper-divider}}
  <p>
    <img src="assets/images/change-promotion.jpg" alt="AuthReg" style="width:100%">
  </p>
</div>


{{outlet}}